@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 786px / 2);
    padding-right: calc(50% - 786px / 2);
  }

  .card {
    column-gap: 29px;
    row-gap: 37px;
  }
}

@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
  }
  .image {
    width: 345px;
  }
  .menu {
    gap: 20px;
  }
  .filter__form {
    right: -240px;
  }
}
