$color-text: #ffffff;
$width-site: 1200px;
$gap: 32px;
$font-size14: 14px;
$font-size16: 16px;
$font-size24: 24px;
$font-size48: 48px;
$border-radius: 16px;
$font-weight400: 400;
$font-weight500: 500;
$font-weight600: 600;
$font-family: Montserrat;
$flex-wrap: wrap;
$line-height29: 29px;
